<div class="container-fluid">
  <div class="row">
    <div class="col" style="text-align: center">
      <!-- <img style="width: 200px; margin-left: auto; margin-right: auto;" src="https://www.google.com/a/cpanel/estudante.ifms.edu.br/images/logo.gif?service=google_gsuite" alt="logo"> -->
      <img style="width: 220px; margin-left: auto; margin-right: auto;" src="/src/assets/logo.jpg" alt="logo">
      <h1>DeNovo</h1>
      <h6>SISTEMA DE REQUERIMENTOS DE SEGUNDA CHAMADA</h6>
    </div> 
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            CRIAR NOVO REQUERIMENTO
          </div>
          <!-- <div class="row"> -->
            <!-- <div class="col"> -->
              <div *ngIf="!formFlag">
                <p style="text-align: justify">Olá, tudo bem? <br>
                    Você pode realizar requerimentos das atividades perdidas de maneira automática.
                </p>
                <button class="btn btn-outline-success center" (click)="formFlag=true">NOVO REQUERIMENTO</button>
              </div>
              <div *ngIf="formFlag">
                <div class="w-100 d-block">
                  <i class="fas fa-times-circle float-right text-secondary" style="font-size: 15pt; cursor: pointer;" (click)="formFlag=false"></i>
                </div>
                <ngb-alert *ngIf="flagRa" [dismissible]="false" type="danger">
                  RA inválido!
                </ngb-alert>
                <form #novo="ngForm" (ngSubmit)="novoRequerimento(novo)">
                  <div class="form-row">
                    <div class="form-group col">
                      <div class="form-group">
                        <label for="ra">RA (apenas números)</label>
                        <input required type="number" maxlength="5" class="form-control" placeholder="RA" id="ra" name="ra" [(ngModel)]="novo.ra"/>
                      </div>
                    </div>
                    <div class="form-group col">
                      <div class="form-group">
                        <label for="turma">Turma</label>
                        <input required type="text" maxlength="4" class="form-control" placeholder="Turma" id="turma" name="turma" [(ngModel)]="novo.turma"/>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col">
                      <label for="materia">Materia</label>
                      <input placeholder="Código da matéria" id="materia" name="materia" type="text" class="form-control" [(ngModel)]="novo.materia"
                      [ngbTypeahead]="searchMaterias"/>
                    </div>
                    <div class="form-group col">
                      <label for="professor">Professor</label>
                      <ng-template #rt let-r="result" let-t="term">
                        {{r.nome}}
                      </ng-template>
                      <input placeholder="Professor" id="professor" name="professor" type="text" class="form-control" [(ngModel)]="novo.professor"
                      [ngbTypeahead]="searchProf"
                      [inputFormatter]="formatter"
                      [resultTemplate]="rt"/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Justificativa</label>
                    <div class="form-check">
                      <input [(ngModel)]="novo.justificativa" type="radio" class="form-check-input" id="j1" name="justificativa" value="Problema de saúde"> 
                      <label class="form-check-label" for="j1">Problema de saúde</label>
                    </div>
                    <div class="form-check">
                      <input [(ngModel)]="novo.justificativa" type="radio" class="form-check-input" id="j2" name="justificativa" value="Obrigações com o Serviço Militar">
                      <label class="form-check-label" for="j2">Obrigações com o Serviço Militar</label>  
                    </div>
                    <div class="form-check">
                      <input [(ngModel)]="novo.justificativa" type="radio" class="form-check-input" id="j3" name="justificativa" value="Falecimento de parente de primeiro grau ou cônjuge">
                      <label class="form-check-label" for="j3">Falecimento de parente de primeiro grau ou cônjuge</label>  
                    </div>
                    <div class="form-check">
                      <input [(ngModel)]="novo.justificativa" type="radio" class="form-check-input" id="j4" name="justificativa" value="Convocação pelo Poder Judiciário ou Justiça Eleitoral">
                      <label class="form-check-label" for="j4">Convocação pelo Poder Judiciário ou Justiça Eleitoral</label>  
                    </div>
                    <div class="form-check">
                      <input [(ngModel)]="novo.justificativa" type="radio" class="form-check-input" id="j5" name="justificativa" value="Convocação do Campus do IFMS para representar a Instituição ou participar de alguma atividade/evento">
                      <label class="form-check-label" for="j5">Convocação do Campus do IFMS para representar a Instituição ou participar de alguma atividade/evento</label>  
                    </div>
                  </div>
                  <button type="submit" class="btn btn-outline-success float-right">Enviar</button>
                </form>
              </div>                    
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            CONSULTAR REQUERIMENTO
          </div>
          <p style="text-align: justify">
            Se você quiser ver um requerimento em específico, digite o código dele aqui.<br>
            Se você quiser ver todos os seus requerimentos, digite seu RA.
          </p>
          <ngb-alert *ngIf="flagRa2" [dismissible]="false" type="danger">
            RA inválido!
          </ngb-alert>
          <ngb-alert *ngIf="flagHash" [dismissible]="false" type="danger">
            Código do requerimento inválido!
          </ngb-alert>
          <form #pesquisa="ngForm" class="form-inline center" style="width: fit-content" (ngSubmit)="pesquisarRequerimento(pesquisa)">
            <div class="form-group">
              <input [(ngModel)]="pesquisa.coisa" placeholder="Código ou RA" class="form-control mr-sm-2" id="coisa" name="coisa" type="text">
            </div>
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fas fa-search"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            ADMINISTRAR REQUERIMENTO
          </div>
          <div class="row">
            <div class="col">
              <p style="text-align: justify"><b>Coordenador</b>, faça o login para gerenciar os requerimentos.</p>
              <button class="btn btn-outline-success center" (click)="openModal(coord)">COORDENAÇÃO</button>
            </div>
            <div class="col">
              <p style="text-align: justify"><b>Professor</b>, faça o login para agendar os requerimentos.</p>
              <button class="btn btn-outline-success center" (click)="openModal(prof)">PROFESSOR</button>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #coord let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">LOGIN - COORDENAÇÃO</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert *ngIf="flagSenha" [dismissible]="false" type="danger">
      Senha inválida!
    </ngb-alert>
    <form #loginC="ngForm" (ngSubmit)="loginCoord(loginC)">
      <div class="form-group">
        <label for="setor">Coordenação</label>
        <select required [(ngModel)]="loginC.setor" class="form-control" name="setor" id="setor">
          <option *ngFor="let s of setores" value="{{s}}">{{s}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input class="form-control" [(ngModel)]="loginC.senha" name="senha" id="senha" placeholder="Senha" type="password">
      </div>
      <button type="submit" class="btn btn-outline-success">Entrar</button>
    </form>
  </div>
</ng-template>

<ng-template #prof let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">LOGIN - PROFESSOR</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ngb-alert *ngIf="flagSenha" [dismissible]="false" type="danger">
      Senha inválida!
    </ngb-alert>
    <form #loginP="ngForm" (ngSubmit)="loginProf(loginP)">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input required type="email" class="form-control" name="email" id="email" placeholder="E-mail" [(ngModel)]="loginP.email">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input class="form-control" [(ngModel)]="loginP.senha" name="senha" id="senha" placeholder="Senha" type="password">
      </div>
      <button type="submit" class="btn btn-outline-success">Entrar</button>
    </form>
  </div>
</ng-template>