.container-fluid{
    height: auto;
}

.row{
    margin-top: auto;
    margin-bottom: auto;
    top: auto;
    bottom: auto;
    position: relative;
}

.card-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 16pt;    
}

.card{
    margin-bottom: 20px !important;
}
